*{
    font-family: "Poppins", serif;
}

.loading_spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_spinner img {
    width: 120px;
}